# App
APP_ENV=development
SECRET_KEY=eLmewAIN1-bDoTV4cxEKNroPNs88zasKhlRyVk3dvW0
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=15
REFRESH_TOKEN_EXPIRE_DAYS=7
ALLOWED_ORIGINS=http://localhost:3000

# Database
POSTGRES_DB=platform_db
POSTGRES_USER=platform_user
POSTGRES_PASSWORD=strongpassword
DATABASE_URL=postgresql://platform_user:strongpassword@postgres:5432/platform_db

# Redis
REDIS_URL=redis://redis:6379

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# Grafana
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=admin

# Postgres Exporter
DATA_SOURCE_NAME=postgresql://platform_user:strongpassword@postgres:5432/platform_db?sslmode=disable